<nav style="text-align:left;">
  EN/FR
</nav>
<nav style="text-align:right;">
  <a href="/testsite/" {% if page.url == "/" %}style="color: red;"{% endif %}>
    Home
  </a>
   | 
  <a href="/testsite/pages/call" {% if page.url contains "pages/call" %} style="background-color: lightgrey;"{% endif %}>
    Call
  </a>
   | 
  <!-- a href="/testsite/pages/resources" {% if page.url contains "pages/resource" %} style="background-color: lightgrey;"{% endif %}>
    Resources
  </a>
   |
  <a href="/testsite/pages/submit" {% if page.url contains "pages/submit" %}style="background-color: lightgrey;"{% endif %}>
    Submission
  </a>
   |
  <a href="/testsite/pages/agenda" {% if page.url contains "pages/agenda" %}style="background-color: lightgrey;"{% endif %}>
    Agenda
  </a-->
</nav>
