<nav style="text-align:left;">
  EN/FR
</nav>
<nav style="text-align:right;">
  <a href="/testsite/readme" {% if page.url == "/testsite/readme" %}style="color: red;"{% endif %}>
    Home
  </a>
   | 
  <a href="/testsite/pages/call" {% if page.url == "/testsite/pages/call" %}style="color: red;"{% endif %}>
    Call
  </a>
   | 
  <a href="/testsite/pages/resources" {% if page.url == "/testsite/pages/resource" %}style="color: red;"{% endif %}>
    Resources
  </a>
   |
  <a href="/testsite/pages/submit" {% if page.url == "/testsite/pages/submit" %}style="color: red;"{% endif %}>
    Submission
  </a>
   |
  <a href="/testsite/pages/agenda" {% if page.url == "/testsite/pages/agenda" %}style="color: red;"{% endif %}>
    Agenda
  </a>
</nav>
