<nav style="text-align:left;">
  EN/FR
</nav>
<nav style="text-align:right;">
  <a href={{page.path}} {% if page.url == "/" %}style="color: red;"{% endif %}>
    Home
  </a>
   | 
  <a href="{{page.path}}/pages/call" {% if page.url contains "pages/call" %} style="color: red;"{% endif %}>
    Call
  </a>
   | 
  <a href="{{site.url}}/pages/resources" {% if page.url contains "pages/resource" %} style="color: red;"{% endif %}>
    Resources
  </a>
   |
  <a href="/testsite/pages/submit" {% if page.url contains "pages/submit" %}style="color: red;"{% endif %}>
    Submission
  </a>
   |
  <a href="/testsite/pages/agenda" {% if page.url contains "pages/agenda" %}style="color: red;"{% endif %}>
    Agenda
  </a>
</nav>
